.todo__task-fild {
    display: flex;
    align-items: center;
    justify-content: center;
}

.todo__task-fild-text {
    width: 400px;
    height: 30px;
    background-color: white;
    border-radius: 5px;
    margin-right: 10px;
}

.todo__task-fild-img {
   border-radius: 5px;

   &--edit {
    background-color: green;
    margin-right: 10px;
   }

   &--delete {
    background-color: red;
   }
}



