@font-face {
    font-family: 'Antonio-Regular';
    src: url('/src/assets/fonts/Antonio-Regular.woff2') format('woff2'),
         url('/src/assets/fonts/Antonio-Regular.woff') format('woff'),
         url('/src/assets/fonts/Antonio-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

