.todo {
    width: auto;
    height: auto;
}

.todo__title {
    margin: 20px 0 20px;
}

#todo__input, #todo__submit {
    border-radius: 5px;
    border: none;
    padding: 10px;
}

#todo__submit {
    background: linear-gradient(to left, #4776e6, #8e54e9);
    border: 1px solid black;
}

#todo__input {
    width: 300px;
    color: white;
    background: #242a3b;
    outline: none;
}
