.todo {
    width: auto;
    height: auto;
    background-color: gray;
}

.todo__title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.todo__input {
    display: flex;
    align-items: center;
    justify-content: center;
}